<table>
  <tr>
    <th>Header</th>
    <td><%=f.text_field(:header) %></td>
  </tr>
  <tr>
    <th>Images</th>
    <td><%=f.file_field(:images,multiple:true,accept:'image/*') %>
      <!-- <%=f.drag_and_drop_file_field :images %> --></td>
  </tr>
  <tr>
    <th>Content</th>
    <td><%=f.text_area(:content,:size => '40x10') %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%=f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Location</th>
    <td><%=f.text_field(:location) %></td>
  </tr>
  <tr>
    <th>Phone Number</th>
    <td><%=f.text_field(:phone_number) %></td>
  </tr>
</table>