<div class="container text-center" style="background:rgba(140,140,140,0.50);">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="row">
        <div class="form-group col-md-4 offset-md-4">
          <div style="font-family:'Roboto';font-size:34px"> <%= f.label :email %> </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
        </div>

        <div class="actions col-md-4 offset-md-4">
          <%= f.submit "Send",class:'btn btn-secondary',style:"font-size:20px" %>
        </div>
      </div>
    <% end %>

    </br>
    <div style="text-align:center">
      <%= render "devise/shared/links" %>
    </div>

</div>
