<div class="posts index">
  <div class="col-md-4"><h1>All Posts</h1></div>

  <table class="table table-info">
    <tr>
      <th scope="col">Header</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Visible</th>
      <th scope="col">Visitor Count</th>
      <th scope="col">Created At</th>
      <th scope="col"></th>
    </tr>
    <% @my_posts.each do |p| %>
      <tr>
        <td><%=p.header %></td>
        <td><%=p.name %></td>
        <td><%=p.location %></td>
        <td><%=p.phone_number %></td>
        <td><%=p.visible %></td>
        <td><%=p.visitor_count %></td>
        <td><%=p.created_at %></td>
        <td><%= link_to("View", post_path(p), :class => 'btn btn-secondary') %>
            <%= link_to("Edit", edit_post_path(p), :class => 'btn btn-secondary') %>
            <%= link_to("Delete", delete_post_path(p), :class => 'btn btn-secondary') %></td>
      </tr>
    <% end %>
  </table>
</div>