<div class="posts index">
  <h2>Posts</h2>

  <table class="table table-info">
    <tr>
      <th scope="col">Header</th>
      <th scope="col">Content</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Position</th>
      <th scope="col">Visible</th>
      <th scope="col">Visitor Count</th>
      <th scope="col">Created At</th>
      <th scope="col">Updated At</th>
      <th scope="col">Actions [BUTTONS TO DO SOMETHING]</th>
    </tr>
    <% @my_posts.each do |p| %>
      <tr>
        <td><%=p.header %></td>
        <td><%=p.content %></td>
        <td><%=p.name %></td>
        <td><%=p.location %></td>
        <td><%=p.phone_number %></td>
        <td><%=p.position %></td>
        <td><%=p.visible %></td>
        <td><%=p.visitor_count %></td>
        <td><%=p.created_at %></td>
        <td><%=p.updated_at %></td>

      </tr>
    <% end %>
  </table>
</div>