<%= render 'posts/shared/error', object:@post %>

<div class="posts new">

  <%= form_for(@post,:url => posts_path,:method => 'post') do |f| %>
    <%= render(:partial => 'posts/shared/form',:locals => {:f => f}) %>
    <%= render(:partial => 'posts/shared/upload',:locals => {:f =>f}) %>
    <div class="form-buttons">
      <%= f.submit("New Post",{:class => 'btn btn-secondary'}) %>
    </div>
  <% end %>
</div>