
<div class="header col-md-12 text-center amy-crisp-gradient" style="font-size:50px;font-family: 'Segoe UI Black'">
  <%= @post.header %>
</div>
</br>
<div class="row">
  <% for i in 0...@post.images.length %>
    <div class="column" >
      <%= image_tag @post.images[i],:class => "hover-shadow-cursor",:style => "width:100%",:onclick => "openModal();currentSlide('#{i+1}');" %>
    </div>
  <% end %>
</div>
</br>
</br>

<div class="content-box" style="width: 95%; padding: 20px; border: 5px solid gray;background-color: lightblue; margin:auto"
  <div class="content">
    <h3 style="font-family: 'Segoe UI Light'"><%= @post.content %></h3>
    <div class="author" style="text-align: right;">
      </br>
      </br>
      <small> Phone Number: <%= @post.phone_number %> </small>
      </br>
      <small> Location: <%= @post.location %> </small>
      </br>
      <small> Posted by <%= @post.name %></small>
    </div>
  </div>
</div>
</br>
</br>
</br>

<div class="info-box lady-lips-gradient" style="bottom: 0;width: 100%;padding: 20px;">
  <h5 style="color:rebeccapurple;font-family: 'Roboto Light'"> Viewed <%= @post.visitor_count %> times </h5>
  <h5 style="color:rebeccapurple;font-family: 'Roboto Light'"> Posted at: <%= @post.created_at %></h5>
</div>

<!--
    <tr>
      <th>Visible</th>
      <td><%= @post.visible ? 'true' : 'false' %></td>
    </tr>
-->

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <!-- Content on modal -->
    <% for i in 0...@post.images.length %>
      <div class="mySlides" >
        <div class="numbertext"> <%= "#{i+1} / #{@post.images.length}" %></div>
        <%= image_tag @post.images[i],:class => "hover-shadow-cursor",:style => "width:100%",:onclick => "openModal();currentSlide('#{i+1}');" %>
      </div>
    <% end %>
    <!-- Content on modal -->

    <!-- Arrow buttons on modal -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <!-- Arrow buttons on modal -->

    <!-- Caption -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>
    <!-- Caption -->

    <!-- Bottom nav on modal -->
    <div class="row" style="background-color: black" >
      <% for i in 0...@post.images.length %>
        <div class="column" >
          <%= image_tag @post.images[i],:class => "demo cursor",:style => "width:100%",alt:"",:onclick => "currentSlide('#{i+1}');" %>
        </div>
      <% end %>
    </div>
    <!-- Bottom nav on modal -->

  </div>
</div>