  <div class="header">
    <h1><%= @post.header %></h1>
  </div>

  <div class="row">
      <% for i in 0...@post.images.length %>
        <div class="column" >
          <%= image_tag @post.images[i],:class => "hover-shadow-cursor",:style => "width:100%;",:onclick => "openModal();currentSlide('#{i+1}');" %>
        </div>
      <% end %>
  </div>

  <div class="content">
    <h3><%= @post.content %></h3>
  </div>

  <div class="">
    <p> Posted by <%= @post.name %></p>
    <p> Location <%= @post.location %></p>
    <p> Contact <%= @post.phone_number %></p>
  </div>

  <div class="">
    <p> Viewed <%= @post.visitor_count %> times </p>
    <p> Posted at: <%= @post.created_at %></p>
  </div>

<!--
    <tr>
      <th>Visible</th>
      <td><%= @post.visible ? 'true' : 'false' %></td>
    </tr>
-->

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <!-- Content on modal -->
    <% for i in 0...@post.images.length %>
      <div class="mySlides" >
        <div class="numbertext"> <%= "#{i+1} / #{@post.images.length}" %></div>
        <%= image_tag @post.images[i],:class => "hover-shadow-cursor",:style => "width:100%",:onclick => "openModal();currentSlide('#{i+1}');" %>
      </div>
    <% end %>
    <!-- Content on modal -->

    <!-- Arrow buttons on modal -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <!-- Arrow buttons on modal -->

    <!-- Caption -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>
    <!-- Caption -->

    <!-- Bottom nav on modal -->
    <div class="row" style="background-color: black" >
      <% for i in 0...@post.images.length %>
        <div class="column" >
          <%= image_tag @post.images[i],:class => "demo cursor",:style => "width:100%",alt:"",:onclick => "currentSlide('#{i+1}');" %>
        </div>
      <% end %>
    </div>
    <!-- Bottom nav on modal -->

  </div>
</div>