<meta name="viewport" content="width=device-width, initial-scale=0.5, shrink-to-fit=no">
</br>

<!-- we will need to adjust thumbnail as well as link_to the post -->
<% @rows.times do |i|%>
  <div class="row" style="grid-row-gap: 50px">
    <% 3.times do |j| %>
      <div class="col-md-4">
        <div class="card card-image" style="background-image: url(
            <% if @posts[3*i+j].images[0] %>
              <%= url_for(@posts[3*i+j].images[0]) %>
            <% else %>
              <%= url_for("/assets/123-da6c50904cb04d93cc90d4b855d0c0461759c43d43c78d594345bc5d953ea8bc.jpg") %>
            <% end %>
            );background-size:cover">
          <p class="card-title text-center amy-crisp-gradient" style="font-size: 24px"><%= @posts[3*i+j].phone_number %></p>
          <a href=<%= post_path(@posts[3*i+j]) %>>
            <img href="" src="assets/daisy-160-e9a1a01d4f4ee820dcd1ffae9376b3c7dd163053ee55013a82a246ea610b73a1.png" class="card-img-top"  style="visibility: hidden " alt="...">
          </a>
          <div class="card-body lady-lips-gradient">
            <p class="card-text"><%= @posts[3*i+j].header %></p>
            <p class="card-text"><small class="text-muted"><%= estimate_past_time(@posts[3*i+j]) %></small></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </br>
<% end %>

<div class="row" style="grid-row-gap: 50px">
  <% @remainder.times do |re| %>
      <div class="col-sm-4">
        <div class="card card-image" style="background-image: url(
            <% if @posts[3*@rows+re].images[0] %>
              <%= url_for(@posts[3*@rows+re].images[0]) %>
            <% else %>
              <%= url_for("/assets/123.jpg") %>
            <% end %>
            );background-size:cover">
          <p class="card-title text-center amy-crisp-gradient" style="font-size: 24px"><%= @posts[3*@rows+re].phone_number %></p>
          <a href=<%= post_path(@posts[3*@rows+re]) %>>
            <img href="" src="/assets/daisy-160.png" class="card-img-top"  style="visibility: hidden " alt="...">
          </a>
          <div class="card-body lady-lips-gradient">
            <p class="card-text"><%= @posts[3*@rows+re].header %></p>
            <p class="card-text"><small class="text-muted"><%= estimate_past_time(@posts[3*@rows+re]) %></small></p>
          </div>
        </div>
      </div>
  <% end %>
</div>

</br>
</br>
</br>
<!-- Footer -->
<footer class="page-footer font-small fixed-bottom" style="background-color:#FDA7DF">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="font-size: small">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/" style="color:#FFC312">Something.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->





